In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from catboost import CatBoostClassifier

In [3]:
accu_df = pd.read_csv("Datasets\synthetic_accural_data.csv")
redm_df = pd.read_csv("Datasets\synthetic_redeem_data.csv")

In [4]:
accu_df.head()

  transaction_id  ... calculated_amount
0    TXN00002862  ...           2217.93
1    TXN00002863  ...           4883.89
2    TXN00002864  ...            604.63
3    TXN00002866  ...           3627.60
4    TXN00002868  ...           4557.73

[5 rows x 39 columns]

In [5]:
redm_df.head()

  transaction_id  ... calculated_amount
0    TXN00002865  ...           2016.54
1    TXN00002867  ...           2087.11
2    TXN00005307  ...           1596.01
3    TXN00005310  ...           4166.84
4    TXN00005311  ...           3787.68

[5 rows x 39 columns]

In [6]:
accu_df.dtypes

transaction_id                  str
customer_unique_id              str
transaction_date                str
transaction_type                str
points                      float64
partner_id                    int64
store_id                      int64
opening_balance             float64
closing_balance             float64
amount                      float64
is_anomaly                    int64
anomaly_types                   str
country_code                  int64
activity_id                   int64
category_code                   str
sku_category_code               str
item_code                       str
quantity                      int64
created_at                      str
updated_at                      str
bill_date                       str
business_date                   str
rule_id                       int64
rule_type                       str
payment_type                    str
program_id                    int64
program_country               int64
program_currency                str
base_currency                   str
trans_currency                  str
conversion_rate             float64
amount_in_trans_currency    float64
usd_conversion_rate         float64
amount_in_usd               float64
channel_code                    str
point_expiry                    str
funding_partner_id            int64
point_type_id                 int64
calculated_amount           float64
dtype: object

In [7]:
redm_df.dtypes

transaction_id                  str
customer_unique_id              str
transaction_date                str
transaction_type                str
points                      float64
partner_id                    int64
store_id                      int64
opening_balance             float64
closing_balance             float64
amount                      float64
is_anomaly                    int64
anomaly_types                   str
country_code                  int64
activity_id                   int64
category_code                   str
sku_category_code               str
item_code                       str
quantity                      int64
created_at                      str
updated_at                      str
bill_date                       str
business_date                   str
rule_id                       int64
rule_type                       str
payment_type                    str
program_id                    int64
program_country               int64
program_currency                str
base_currency                   str
trans_currency                  str
conversion_rate             float64
amount_in_trans_currency    float64
usd_conversion_rate         float64
amount_in_usd               float64
channel_code                    str
point_expiry                    str
funding_partner_id            int64
point_type_id                 int64
calculated_amount           float64
dtype: object

In [8]:
# Columns to drop
columns_to_drop = [
    'transaction_id',
    'customer_unique_id',
    'anomaly_types',
    'created_at',
    'updated_at',
    'bill_date',
    'business_date',
    'rule_id',
    'rule_type',
    'item_code',
    'sku_category_code',
    'category_code',
    'store_id',
    'activity_id',
    'funding_partner_id'
]

# Drop columns from accrual dataframe
print("Accrual DataFrame - Before drop:")
print(f"Shape: {accu_df.shape}")
print(f"Columns: {list(accu_df.columns)}")

accu_df = accu_df.drop(columns=columns_to_drop, errors='ignore')

print("\nAccrual DataFrame - After drop:")
print(f"Shape: {accu_df.shape}")
print(f"Columns: {list(accu_df.columns)}")

# Drop columns from redeem dataframe
print("\n" + "=" * 80)
print("Redeem DataFrame - Before drop:")
print(f"Shape: {redm_df.shape}")
print(f"Columns: {list(redm_df.columns)}")

redm_df = redm_df.drop(columns=columns_to_drop, errors='ignore')

print("\nRedeem DataFrame - After drop:")
print(f"Shape: {redm_df.shape}")
print(f"Columns: {list(redm_df.columns)}")

Accrual DataFrame - Before drop:
Shape: (8219, 39)
Columns: ['transaction_id', 'customer_unique_id', 'transaction_date', 'transaction_type', 'points', 'partner_id', 'store_id', 'opening_balance', 'closing_balance', 'amount', 'is_anomaly', 'anomaly_types', 'country_code', 'activity_id', 'category_code', 'sku_category_code', 'item_code', 'quantity', 'created_at', 'updated_at', 'bill_date', 'business_date', 'rule_id', 'rule_type', 'payment_type', 'program_id', 'program_country', 'program_currency', 'base_currency', 'trans_currency', 'conversion_rate', 'amount_in_trans_currency', 'usd_conversion_rate', 'amount_in_usd', 'channel_code', 'point_expiry', 'funding_partner_id', 'point_type_id', 'calculated_amount']

Accrual DataFrame - After drop:
Shape: (8219, 24)
Columns: ['transaction_date', 'transaction_type', 'points', 'partner_id', 'opening_balance', 'closing_balance', 'amount', 'is_anomaly', 'country_code', 'quantity', 'payment_type', 'program_id', 'program_country', 'program_currency', 'base_currency', 'trans_currency', 'conversion_rate', 'amount_in_trans_currency', 'usd_conversion_rate', 'amount_in_usd', 'channel_code', 'point_expiry', 'point_type_id', 'calculated_amount']

================================================================================
Redeem DataFrame - Before drop:
Shape: (2364, 39)
Columns: ['transaction_id', 'customer_unique_id', 'transaction_date', 'transaction_type', 'points', 'partner_id', 'store_id', 'opening_balance', 'closing_balance', 'amount', 'is_anomaly', 'anomaly_types', 'country_code', 'activity_id', 'category_code', 'sku_category_code', 'item_code', 'quantity', 'created_at', 'updated_at', 'bill_date', 'business_date', 'rule_id', 'rule_type', 'payment_type', 'program_id', 'program_country', 'program_currency', 'base_currency', 'trans_currency', 'conversion_rate', 'amount_in_trans_currency', 'usd_conversion_rate', 'amount_in_usd', 'channel_code', 'point_expiry', 'funding_partner_id', 'point_type_id', 'calculated_amount']

Redeem DataFrame - After drop:
Shape: (2364, 24)
Columns: ['transaction_date', 'transaction_type', 'points', 'partner_id', 'opening_balance', 'closing_balance', 'amount', 'is_anomaly', 'country_code', 'quantity', 'payment_type', 'program_id', 'program_country', 'program_currency', 'base_currency', 'trans_currency', 'conversion_rate', 'amount_in_trans_currency', 'usd_conversion_rate', 'amount_in_usd', 'channel_code', 'point_expiry', 'point_type_id', 'calculated_amount']

In [9]:
# Convert transaction_date to datetime and extract features
print("=" * 80)
print("ACCRUAL - Processing transaction_date")
print("=" * 80)
print(f"Before: {accu_df.shape}")
print(f"Columns with 'date' in name: {[col for col in accu_df.columns if 'date' in col.lower()]}")

# Convert to datetime
accu_df['transaction_date'] = pd.to_datetime(accu_df['transaction_date'])

# Extract features
accu_df['hour'] = accu_df['transaction_date'].dt.hour
accu_df['day_of_week'] = accu_df['transaction_date'].dt.dayofweek  # 0=Monday, 6=Sunday
accu_df['is_weekend'] = (accu_df['day_of_week'].isin([5, 6])).astype(int)

# Drop original column
accu_df = accu_df.drop(columns=['transaction_date'])

print(f"After: {accu_df.shape}")
print(f"New columns added: hour, day_of_week, is_weekend")
print(f"Columns: {list(accu_df.columns)}")

print("\n" + "=" * 80)
print("REDEEM - Processing transaction_date")
print("=" * 80)
print(f"Before: {redm_df.shape}")
print(f"Columns with 'date' in name: {[col for col in redm_df.columns if 'date' in col.lower()]}")

# Convert to datetime
redm_df['transaction_date'] = pd.to_datetime(redm_df['transaction_date'])

# Extract features
redm_df['hour'] = redm_df['transaction_date'].dt.hour
redm_df['day_of_week'] = redm_df['transaction_date'].dt.dayofweek  # 0=Monday, 6=Sunday
redm_df['is_weekend'] = (redm_df['day_of_week'].isin([5, 6])).astype(int)

# Drop original column
redm_df = redm_df.drop(columns=['transaction_date'])

print(f"After: {redm_df.shape}")
print(f"New columns added: hour, day_of_week, is_weekend")
print(f"Columns: {list(redm_df.columns)}")

print("\n" + "=" * 80)
print("Sample Data")
print("=" * 80)
print("Accrual:")
print(accu_df.head())
print("\nRedeem:")
print(redm_df.head())

================================================================================
ACCRUAL - Processing transaction_date
================================================================================
Before: (8219, 24)
Columns with 'date' in name: ['transaction_date']
After: (8219, 26)
New columns added: hour, day_of_week, is_weekend
Columns: ['transaction_type', 'points', 'partner_id', 'opening_balance', 'closing_balance', 'amount', 'is_anomaly', 'country_code', 'quantity', 'payment_type', 'program_id', 'program_country', 'program_currency', 'base_currency', 'trans_currency', 'conversion_rate', 'amount_in_trans_currency', 'usd_conversion_rate', 'amount_in_usd', 'channel_code', 'point_expiry', 'point_type_id', 'calculated_amount', 'hour', 'day_of_week', 'is_weekend']

================================================================================
REDEEM - Processing transaction_date
================================================================================
Before: (2364, 24)
Columns with 'date' in name: ['transaction_date']
After: (2364, 26)
New columns added: hour, day_of_week, is_weekend
Columns: ['transaction_type', 'points', 'partner_id', 'opening_balance', 'closing_balance', 'amount', 'is_anomaly', 'country_code', 'quantity', 'payment_type', 'program_id', 'program_country', 'program_currency', 'base_currency', 'trans_currency', 'conversion_rate', 'amount_in_trans_currency', 'usd_conversion_rate', 'amount_in_usd', 'channel_code', 'point_expiry', 'point_type_id', 'calculated_amount', 'hour', 'day_of_week', 'is_weekend']

================================================================================
Sample Data
================================================================================
Accrual:
  transaction_type  points  partner_id  ...  hour  day_of_week  is_weekend
0             earn  333.09         439  ...     7            4           0
1             earn  314.54         439  ...     6            6           1
2             earn  341.69         212  ...    10            0           0
3             earn  274.21         439  ...     8            2           0
4             earn  350.79         439  ...     8            4           0

[5 rows x 26 columns]

Redeem:
  transaction_type  points  partner_id  ...  hour  day_of_week  is_weekend
0           redeem  329.06         439  ...     6            1           0
1           redeem   49.40         439  ...    11            3           0
2           redeem  312.96         435  ...    19            0           0
3           redeem   37.73         435  ...    21            4           0
4           redeem   87.01         435  ...    19            6           1

[5 rows x 26 columns]

In [11]:
redm_df.head()

  transaction_type  points  partner_id  ...  hour  day_of_week  is_weekend
0           redeem  329.06         439  ...     6            1           0
1           redeem   49.40         439  ...    11            3           0
2           redeem  312.96         435  ...    19            0           0
3           redeem   37.73         435  ...    21            4           0
4           redeem   87.01         435  ...    19            6           1

[5 rows x 26 columns]

In [12]:
accu_y = accu_df["is_anomaly"]
redm_y = redm_df["is_anomaly"]

In [14]:
accu_X = accu_df.drop(columns=["is_anomaly"])
redm_X = redm_df.drop(columns=["is_anomaly"])

In [16]:
redm_X.head()

  transaction_type  points  partner_id  ...  hour  day_of_week  is_weekend
0           redeem  329.06         439  ...     6            1           0
1           redeem   49.40         439  ...    11            3           0
2           redeem  312.96         435  ...    19            0           0
3           redeem   37.73         435  ...    21            4           0
4           redeem   87.01         435  ...    19            6           1

[5 rows x 25 columns]